.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-link {
  color: white !important;
  transition: all 0.3s ease-in-out;
  margin-left: 2rem;
  margin-right: 2rem;

  &:hover {
    color: #e74c3c !important;
  }
}

.gallery {
  &__img {
    height: 20rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

body::before {
  content: "";
  height: 4rem;
  display: block;
}
